/* Start Variables */
:root {
    --main-color: #23b1d8;
    /* #23b1d8 */
    --text-color: #2c4755;
    --secondary-color: #065b72;
    --section-padding: 50px;
    --section-bg-clr: #fafafa;
    --main-duration: 0.3s;
}
/* End Variables */

/* Start Components */
.special-heading h2 {
    margin: 0;
    font-size: 161px;
    font-weight: 800;
    color: #e7e7e7;
    text-align: center;
    letter-spacing: -5px;
}
.special-heading h2 + p {
    margin: -55px 0 0 0;
    font-size: 26px;
    color: var(--text-color);
    text-align: center;
}
@media (max-width: 767px) {
    .special-heading h2 {
        font-size: 75px;
    }
    .special-heading h2 + p {
        font-size: 17px;
        margin: -30px 0 0 0;
    }
}
/* End Components */

/* Start Global Rules */
html {
    scroll-behavior: smooth;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 130px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #24484f;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links ul {
    display: none;
    opacity: 0;
    z-index: 1;
    min-width: 180px;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f6f6f6;
    top: calc(100% + 15px);
    right: 0;
    transition: var(--main-duration);
}
.header .links:hover ul {
    display: block;
    opacity: 1;
}
.header .links ul::before {
    content: '';
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -20px;
    right: 3.3px;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    padding-left: 20px;
    font-weight: 500;
    text-decoration: none;
    color: var(--main-color);
    transition: var(--main-duration);
}
.header .links ul li a:hover {
    padding-left: 30px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px #ddd solid;
}
/* End Header */

/* Landing Start */
.landing {
    position: relative;
    background-image: url(../images/BnW_Mountain.jpg);
    background-size: cover;
    height: calc(100vh - 85.06px);
}
.landing .intro-text {
    position: absolute;
    width: 530px;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
@media (max-width: 767px) {
    .landing .intro-text {
        width: 330px;
}
}
.landing h1 {
    margin: 0;
    font-size: 75px;
    font-weight: 800;
    color: var(--main-color);
}
@media (max-width: 767px) {
    .landing h1 {
        font-size: 65px;
    }
}
.landing p {
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.6;
}
/* Landing End */
/* Features Start */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-bg-clr);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
    /* box-shadow: 1px 1px 6px #ddd; */
}
.features .feat i {
    color: var(--main-color);
    font-size: 70px;
}
.features .feat h3 {
    font-size: 22px;
    font-weight: 800;
    color: var(--text-color);
}
.features .feat p {
    font-size: 17px;
    color: var(--text-color);
    line-height: 1.8;
}
/* Features End */

/* Services Start */
.services {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) - 30px);
}
.services .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 0 40px;
    margin-top: 100px;
}
.services .service-content .serv {
    display: flex;
    margin-bottom: 60px;
}
.services .service-content .serv .text {
    flex: 1;
}
.services .service-content .serv i {
    color: var(--main-color);
    flex-basis: 65px;
    font-size: 40px;
}
.services .service-content .serv h1 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 25px;
    color: var(--text-color);
}
.services .service-content .serv p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #777;
}
@media (max-width: 767px) {
    .services .service-content .serv {
        flex-direction: column;
        text-align: center;
    }
}
.services .service-content .image {
    text-align: center;
    position: relative;
}
.services .service-content .image::before {
    content: "";
    position: absolute;
    top: -75px;
    right: -16px;
    width: 26%;
    height: calc(100% + 150px);
    background-color: var(--secondary-color);
    z-index: -1;
}
.services .service-content .image img {
    width: 300px;
    box-shadow: -1px 1px 3.5px #0000006e
}
@media (max-width: 1199px) {
    .services .service-content .image {
        display: none;
    }
}
/* Services End */

/* Portfolio Start */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-bg-clr);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
    box-shadow: -1px 1px 3.5px #0000001c;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
    margin: 0;
}
.portfolio .portfolio-content .card h1 {
    font-size: 22px;
    margin: 0;
}
.portfolio .portfolio-content .card p {
    color: #777;
    margin-bottom: 0;
    line-height: 1.6;
}
/* Portfolio End */

/* About Start */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 10px);
}
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
    }
}
.about .about-content .image {
    position: relative;
    width: 300px;
    height: 330px;
    box-shadow: -1px 1px 3.5px #00000052;
}
.about .about-content .image img {
    width: 100%;
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #f5f5f5;
    width: 100px;
    height: 400px;
    top: -35px;
    left: -20px;
    z-index: -1;
}
@media (max-width: 991px) {
    .about .about-content .image::before {
        height: 390px;
    }
}
.about .about-content .image::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: -25px;
    right: -135px;
    width: 190px;
    height: 290px;
    border-left: 90px solid var(--main-color);
    border-bottom: 70px solid var(--main-color);
    z-index: -1;
}
@media (max-width: 991px) {
    .about .about-content .image::after {
        transform: rotateZ(180deg);
        right: -20px;
    }
}
.about .about-content .text {
    flex-basis: 50%;
}
@media (max-width: 991px) {
    .about .about-content .text {
        text-align: center;
        margin-right: 0;
    }
}
.about .about-content .text p:first-of-type {
    font-weight: 800;
    color: var(--text-color);
    margin-bottom: 15px;
    line-height: 2;
}
.about .about-content .text hr {
    display: inline-block;
    margin: 2px;
    width: 270px;
    border: 2px solid var(--main-color);
}
.about .about-content .text:last-of-type {
    margin-top: 25px;
    font-weight: 200;
    color: #777;
    line-height: 1.8;
}
/* About End */

/* Contact Start */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-bg-clr);
}
.contact .info .label {
    font-size: 45px;
    font-weight: 800;
    color: var(--text-color);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
@media (max-width: 767px) {
    .contact .info .label {
        font-size: 30px;
    }
}
.contact .info .link {
    display: block;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
}
@media (max-width: 767px) {
    .contact .info .link {
        font-size: 24px;
    }
}
.contact .info .social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--text-color);
    margin: 0;
}
.contact .info .social i {
    font-size: 32px;
    color: var(--main-color);
    margin: 0 10px 0 10px;
}
@media (max-width: 767px) {
    .contact .info .social i {
        font-size: 25px;
        margin: 0 5px 0 5px;
    }
}
.contact .info .social p {
    font-size: 20px;
    margin: 0;
}
@media (max-width: 767px) {
    .contact .info .social p {
        font-size: 14px;
        margin: 0;
        margin-right: 10px;
    }
}
/* Contact End */

/* Footer Start */
.footer {
    background-color: var(--secondary-color);
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer span {
    font-weight: 800;
    color: var(--main-color);
}
/* Footer End */


